.hero{
  width: 900px;
  display: flex;
  align-items: center;
  justify-content: center;
}
img{
  width: 700px;
  height: 400px;
  object-fit: cover;
  padding: 20px;
}
button{
  padding: 10px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
h1,p{
  margin: auto;
  text-align: center;
  padding: 10px;
}
.elements{}